{%extends "layout1.html"%}
{%block content%}

<form action="/addnote" method="post" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
<label for="header">Header :</label>
<input type="text" name="header" id="" style="width: 25rem;padding: 1rem;margin: 1rem;">

<label for="body">Body : </label>
<textarea name="body" id="" style="width: 25rem;height: 27rem; padding: 1rem;margin: 1rem;"></textarea>

<button class="btn btn-outline-success tm-search-btn" style="margin: 3px;" type="submit">
    Add
</button>


</form>



{%endblock%}