{%extends 'layout1.html'%}
{%block content%}


<div class="container-fluid tm-container-content tm-mt-60">

    <form style="display: flex;flex-direction: column;align-items: center;justify-content: center;" method="post" action="/registeruser">
        <div class="form1">
            <div >Name : </div>
            <input class="form-control tm-search-input" style="margin: 3px;border :1px solid black;border-radius: 12px;" type="text" placeholder="Name" name="name" required>
        </div class="form1">
        <div class="form1">
            <div >Username : </div>
            <input class="form-control tm-search-input" style="margin: 3px;border :1px solid black;border-radius: 12px;" type="text" placeholder="Username" name="username" required>
        </div class="form1">
        <div class="form1">
            <div >Password : </div>
            <input class="form-control tm-search-input" style="margin: 3px; border: 1px solid black;border-radius: 12px;" type="password" placeholder="Password" name="password" required>
        </div>
        <div class="form1">
            <div >Email : </div>
            <input class="form-control tm-search-input" style="margin: 3px; border: 1px solid black;border-radius: 12px;" type="email" placeholder="xxx@xxx.com" name="email" required>
        </div>
        <div class="form1">
            <div >Phone : </div>
            <input class="form-control tm-search-input" style="margin: 3px; border: 1px solid black;border-radius: 12px;" type="tel" name="phone" placeholder="+xx xxx xxx xx xx" pattern="[+]{1}[0-9]{11,14}" required>
        </div>
        <button class="btn btn-outline-success tm-search-btn" style="margin: 3px;" type="submit">
            Sign Up
        </button>
    </form> 
    
</div>
{%endblock%}